.navBar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
  }
  
  .navBar .logo {
    width: 130px;
    color: tomato;
  }
  
  .Navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
    transition: all 0.3s ease;
  }
  
  .Navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .navBar button {
    background: transparent;
    font-size: 14px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .navBar button:hover {
    background-color: #fff4f2;
  }
  
  .navBar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
  }
  
  .navBar li {
    cursor: pointer;
  }
  
  .navSearch-icon {
    position: relative;
  }
  
  .navSearch-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    padding-right: 15px;
    
  }
  
  @media (max-width: 700px) {
    .Navbar-menu {
      display: none;
      flex-direction: column;
      justify-content: left;
      text-align: left;
      position: absolute;
      background-color: white;
      top: 70px;
      left: 0;
      width: 100%;
      padding: 20px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      z-index: 1000;
    }
  
    .Navbar-menu.open {
      display: flex;
    }
  
    .navBar {
      position: relative;
    }
  
    .navBar .logo {
      width: 90px;
      padding-left: 10px;
      font-size: 25px;
    }
  
    .navBar button {
      font-size: 12px;
      padding: 7px 15px; /* Adjusted padding for mobile */
      width: auto; /* Removed fixed width */
    }
  
    .navSearch-icon {
      font-size: 20px;
    }
  
    .navSearch-icon .dot {
      min-width: 5px; /* Reduced size for mobile */
      min-height: 5px; /* Reduced size for mobile */
      top: -4px; /* Adjusted position for reduced size */
      right: -4px; /* Adjusted position for reduced size */
    }
  
    .navSearch-icon img {
      width: 16px; /* Reduced size for mobile */
      height: 16px; /* Reduced size for mobile */
    }
  
    .menu-icon {
      display: block;
    }
    .Navbar-right img{
        width: 20px;
    }

  }
  