.Explore-Menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.Explore-Menu h1 {
  color: #262626;
  font-weight: 500;
}

.Explore-menu-text p {
  max-width: 60%;
  color: #808080;
}

.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}

.explore-menu-list-item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 2s;
}

.explore-menu-list-item p {
  margin-top: 10px;
  color: #747474;
  font-size: max(1.4vw, 16px);
  cursor: pointer;
}

.Explore-Menu hr {
  margin: 10px 0px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

.explore-menu-list-item .active {
  border: 3px solid tomato;
  padding: 2px;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .Explore-Menu {
    /* max-width: 99.5%; */
    padding: 0 5%;
  }

  .Explore-Menu h1 {
    font-size: 1.5rem; /* Adjust font size for mobile */
   
  }

  .Explore-menu-text p {
    max-width: 100%;
    font-size: 1rem; /* Adjust font size for mobile */
    
  }

  .explore-menu-list {
    /* No changes to explore-menu-list here */
  }

  .explore-menu-list-item img {
    /* Ensure the image width remains the same */
  }
}
